@charset "utf-8";
/* CSS Document */

.disabled-mvp {
	cursor: not-allowed;
}


.TiConfig {
	height: 30px;
	width: 250px;
	color: #3A3F51;

	font-size: 24px;
	font-weight: bold;
	line-height: 30px;
}

#MeConfig {
	width: 100%;
	display: flex;
	justify-content: left;
}

.ItMenuConfig {
	height: 100%;
	/*width: 130px;*/
	/*text-align: center;*/
	/*float: left;*/
	/*padding:5px;*/
	margin-right: 20px;
}

/*.ItMenuConfig a{
	color: #3A3F51;

	font-size: 18px;
	font-weight: bold;
	line-height: 21px;
	text-decoration: none;
}*/
.ItMenuConfig a {
	color: #697B8C;

	font-size: 18px;
	line-height: 21px;
	text-decoration: none;
	text-align: center;
}

#ContenedorOpciones {
	/*
	float: left;
	top:150px;
	width: 100%;
	height:50px; */
	margin: 35px 0px;
	display: flex;
	flex-wrap: wrap;
}

.Tecla {
	/*	height: 40px;*/
	width: 100px;
	float: left;
}

.Tecla_MiCuenta {
	width: 30px;
	float: left;
}

.ContenidoOpcion {
	/*	height: 40px; */
	top: 15px;
	/*agragado ene2019 por SM*/
	width: calc(100% - 150px);
	width: -moz-calc(100% - 150px);
	width: -webkit-calc(100% - 150px);
	float: left;
}

.ContenidoOpcion_MiCuenta {
	width: calc(100% - 40px);
	width: -moz-calc(100% - 40px);
	width: -webkit-calc(100% - 40px);
	float: left;
}

.ContenidoOpcion_Datos {
	float: left;
	width: calc(50% - 40px);
	width: -moz-calc(50% - 40px);
	width: -webkit-calc(50% - 40px);
	height: 80px;
	color: #697B8C;

	font-size: 14px;
	font-weight: bold;
	line-height: 20px;

}

.ContenidoOpcion_Datos input,
select {
	height: 40px;
	/*	max-width: 440px;*/
	max-width: 100%;

	border: 1px solid #A8B7C5;
	border-radius: 2px;
	background-color: #FFFFFF;
	color: #697B8C;

	font-size: 14px;
	/*margin-bottom:60px;*/
	padding: 0 10px;
}

.configuracion-avanza,
.configuracion-avanza a {
	color: #697B8C;

	font-size: 12px;
	font-weight: 300;
	line-height: 14px;
	text-align: right;
	text-decoration: none;
}

.configuracion-sfv,
.configuracion-sfv a {
	color: #6980E4;

	font-size: 14px;
	line-height: 20px;
	float: right;
}

.notificaciones-y-ale {
	height: 30px;
	width: 100%;
	color: #697B8C;

	font-size: 20px;
	margin-bottom: 50px;
}

.ConteOpTitulo,
.ConteOpTitulo a {
	/*	height: 40px;*/
	color: #697B8C;
	font-size: 16px;
	font-weight: bold;
	line-height: 20px;
}


.ConteOpText {
	/*	margin-top:0px;*/
	color: #697B8C;

	font-size: 14px;
	line-height: 20px;
}

.ConteOpText a {
	color: #6980E4;

	font-size: 14px;
	line-height: 20px;
}

#path-2-copy {
	box-sizing: border-box;
	height: 3px;
	width: 100%;
	border: 1px solid #EEF4F9;
	background-color: #EEF4F9;
	margin-top: 50px;
	margin-bottom: 20px;
}

/* ------------------------------------ columnas ------------------------- */
.ContOpc3C {
	width: 33%;
	float: left;
	height: 200px;
	/* era 150 ene 2019 SM*/

}

.wrap_ContOpc4C {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}

.ContOpc4C {
	width: 250px;
	float: left;
	height: 100%;
	margin: 10px 0px;
	text-align: center;
	display: flex;
	flex-wrap: wrap;
	align-items: baseline;
}

.ContOpc5C {
	width: 250px;
	float: left;
	height: 100%;
	margin-bottom: 20px;
}

.ContOpc100 {
	width: 100%;
	float: left;
	height: 50px;
	margin-bottom: 20px;
}

/*  -----------------------------------  Input  ------------------------------- */
.input_Ca {
	height: 30px;
	width: 65px;
	border: 1px solid #697B8C;
	border-radius: 2px;
	background-color: #FFFFFF;
	color: #697B8C;

	font-size: 14px;
	line-height: 20px;
	padding: 0 5px;
}

.input_CN {
	height: 120px;
	width: 535px;
	border: 1px solid #697B8C;
	border-radius: 2px;
	background-color: #FFFFFF;
	color: #697B8C;

	font-size: 14px;
	line-height: 20px;
	padding: 0 5px;
}

/*  ----------------------------------- desplegables  -------------------- */
#SelecHoras {
	height: 30px;
	width: 76px;
	border: 1px solid #697B8C;
	border-radius: 2px;
	background-color: #FFFFFF;

	color: #697B8C;

	font-size: 14px;
	line-height: 20px;

	margin: 0 10px 0 10px;
	padding: 2px 15px;
}

#SelecMensual {
	height: 30px;
	width: 200px;
	border: 1px solid #697B8C;
	border-radius: 2px;
	background-color: #FFFFFF;

	color: #697B8C;

	font-size: 14px;
	line-height: 20px;

	margin: 30px 0;
	padding: 2px 15px;
}


.RangoDesplegable {
	height: 14px;
	width: 132px;
	color: #697B8C;

	font-size: 12px;
	font-weight: 300;
	line-height: 14px;
}

#SelecRango {
	height: 30px;
	width: 105px;
	border: 1px solid #697B8C;
	border-radius: 2px;
	background-color: #FFFFFF;

	color: #697B8C;

	font-size: 14px;
	line-height: 20px;
	padding: 2px 15px;
	margin-right: 10px;

}

/*  ----------------------------------- botones cancelar guardar  ----------------------- */
#BotonGuardar {
	cursor: pointer;
	margin: 30px 0px;
	width: 100%;
	height: 60px;
	text-align: right;
	line-height: 20px;
}

.BotConfCancelar a {
	float: right;
	margin-right: 100px;
	height: 60px;
	width: 55px;
	color: #6980E4;

	font-size: 14px;
	line-height: 40px;
	text-decoration: underline;
}

.BotConfGuardar {
	float: right;
	height: 20px;
	width: 200px;
	margin-right: 20px;
}

.BCGP {
	color: #FFFFFF;

	font-size: 14px;
	font-weight: bold;
	line-height: 10px;
	text-align: center;
}

.btn_BCG {
	cursor: pointer;
	height: 40px;
	width: 200px;
	border-radius: 2px;
	background-color: #6980E4;
	border: none;

}



#Mensaje1 {
	width: 415px;
	height: 50px;
}

#Mensaje2 {
	position: absolute;
	top: 0;
	left: 0;
	height: 40px;
	width: 100%;
	border-radius: 2px;
	background-color: #00CA9D;
	display: none;
	/* ------------------------ DISPLAY NONE DE MENSAJE VERDE EN CABECERA  ----------------------- */
}

.hr {
	display: inline-block;
	width: 100%;
	margin: 30px 0px;
	box-sizing: border-box;
	height: 3px;
	border: 1px solid #ABC9E3;
}

.x_cerrar {
	float: right;
	margin: auto;
	margin-right: 15px;
	cursor: pointer;
}

.texto_msj {
	margin: auto 20px
}
.wrap_msj{
	background-color: #00CA9D;
	height: 40px;
	width: 50%;
	color: white;
	display: flex;
	text-align: left;
	border-radius: 2px;
	position: relative;
	top: -16px;
	left: -5px;
}
.disabled{
	pointer-events: none;
	/* for "disabled" effect */
	opacity: 0.5;
	/*background: #CCC;*/
}
.fa-question-circle{
	cursor: pointer;
}