@charset "utf-8";
/* CSS Document */


body{
margin:0;
padding:0;
}
img{
	border:none;
}
	


#marcos{
	position:absolute;
	top:0;
	left:190px;
	background-color: #FFFFFF;
	width: 100%;
	min-height: 656px;
	min-width: 420px;
	width: calc(100% - 190px);
	box-shadow: -2px 2px 2px 0 rgba(119,151,178,0.16);
/*	padding-bottom:150px;			/*  -------------- margen inferior para botones ----- */
	margin-bottom: 10px;
}
	
	
#contenedor{
	padding:18px;
}


.TiConfig {
	height: 30px;
	width: 191px;
	color: #3A3F51;
	
	font-size: 24px;
	font-weight: bold;
	line-height: 30px;
}

#MeConfig{
	width:100%;
	height:50px;
	text-align:left;
}

.ItMenuConfig{
	height: 40px;
	/*width: 130px;*/
	text-align: center;
/* style="border-bottom: 3px solid #6980E4; ............ Linea por debajo del Menu*/
	float: left;
	padding:5px;
	margin: 10px;
}

.ItMenuConfig a{
	color: #3A3F51;
	
	font-size: 18px;
	font-weight: bold;
	line-height: 21px;
	text-decoration: none;
}

#ContenedorOpciones{
	top:150px;
	width:100%;
	text-align:left;
}
.Tecla{
	height: 40px;
	width: 100px;
	float: left;
	height:150px;
}
.Tecla_MiCuenta{
	height: 40px;
	width: 50px;
	float: left;
	height: 50px;
}
.ContenidoOpcion{
	height: 40px;
	width: calc(100% -150px);
	width: -moz-calc(100% - 150px);
	width: -webkit-calc(100% - 150px);
	float: left;
	height:150px;
}
.ContenidoOpcion_MiCuenta{
	width: calc(100% -50px);
	width: -moz-calc(100% - 50px);
	width: -webkit-calc(100% - 50px);
	float: left;
	height: 50px;
}
.ContenidoOpcion_Datos{
	width: calc(50% - 40px);
	width: -moz-calc(50% - 40px);
	width: -webkit-calc(50% - 40px);
	height: 80px;
	float: left;
		
	color: #697B8C;
	
	font-size: 14px;
	font-weight: bold;
	line-height: 20px;

}
.notificaciones-y-ale {
	height: 30px;
	width: 100%;
	color: #697B8C;
	
	font-size: 20px;
	line-height: 100px;


}

.ContenidoOpcion_Datos input, select {
	height: 40px;
	width: 440px;
	border: 1px solid #A8B7C5;
	border-radius: 2px;
	background-color: #FFFFFF;
	
	color: #697B8C;
	
	font-size: 14px;
/*	line-height: 20px;*/
	margin-bottom:60px;
	padding:0 10px;

}



.ConteOpTitulo {
	height: 40px;
	color: #697B8C;
	
	font-size: 16px;
	font-weight: bold;
	line-height: 20px;
}
.ConteOpText {
	margin-top:0px;
	color: #697B8C;
	
	font-size: 14px;
	line-height: 20px;
	margin-bottom:20px;
}

.ConteOpText a{
	color: #6980E4;
	
	font-size: 14px;
	line-height: 20px;
}

#path-2-copy {
	box-sizing: border-box;	
	height: 3px;	
	width: 100%;	
	border: 1px solid #EEF4F9;
	background-color:#EEF4F9;
	margin-top: 50px;
	margin-bottom: 20px;
}
/* ------------------------------------ columnas ------------------------- */
.ContOpc3C {
	width: 33%;
	float: left;
	height:150px;

}

/*  ----------------------------------- desplegables  -------------------- */
#SelecHoras {
	height: 30px;
	width: 76px;
	border: 1px solid #697B8C;
	border-radius: 2px;
	background-color: #FFFFFF;
	
		color: #697B8C;	
			
		font-size: 14px;	
		line-height: 20px;

	margin: 0 10px 0 10px;
	padding: 2px 15px;
		
}
.RangoDesplegable {
	height: 14px;
	width: 132px;
	color: #697B8C;
	
	font-size: 12px;
	font-weight: 300;
	line-height: 14px;
}
#SelecRango {
	height: 30px;
	width: 105px;
	border: 1px solid #697B8C;
	border-radius: 2px;
	background-color: #FFFFFF;

	color: #697B8C;
	
	font-size: 14px;
	line-height: 20px;
		padding: 2px 15px;
		margin-right: 10px;

}
/*  ----------------------------------- botones cancelar guardar  ----------------------- */
#BotonGuardar{
	width:100%;
	height:160px;
	text-align: right;
/*	line-height: 20px; */
	position: absolute;
   	bottom: 0px;
	right: 18px;
/*	background-color:#9C9; */
}

.BotConfCancelar a{
		margin-top: 60px;
	float:right;
	margin-right: 100px;
	height: 60px;
	width: 55px;
	color: #6980E4;
	
	font-size: 14px;
	line-height: 40px;
	text-decoration:underline;
}

.BotConfGuardar {
	float:right;
	height: 20px;
	width: 200px;
	
}
.BCGP {
	color: #FFFFFF;
	
	font-size: 14px;
	font-weight: bold;
	line-height: 10px;
	text-align: center;
}

.btn_BCG {
	margin-top: 60px;
	height: 40px;
	width: 200px;
	border-radius: 2px;
	background-color: #6980E4;
	border:none;
	
}



#Mensaje1 {
	width:415px;
	height:50px;
}
#Mensaje2 {
	position: absolute;
	top:0;
	left:0;
	height: 40px;
	width: 100%;
	border-radius: 2px;
	background-color: #00CA9D;
	display: none;   /* ------------------------ DISPLAY NONE DE MENSAJE VERDE EN CABECERA  ----------------------- */
}

/* -------------------------------------------- MENU LATERA ----------------------------------- */

#Menu_Lateral {
	position:absolute;
	top:0;
	left:0;
	height: 656px;
	width: 172px;
	background-color: #4E546C;
	box-shadow: 0 0 9px 0 rgba(113,113,113,0.5), 1px -19px 8px 0 #D9E4EC;
}

.rectangle-2 {
	position: absolute;
	top:0;
	left:0;
	height: 60px;
	width: 172px;
	background-color: #3A3F51;
	box-shadow: 0 0 9px 0 rgba(113,113,113,0.5), 1px -19px 8px 0 #D9E4EC;
}

.cbox-smart-monitorin {
	height: 32px;
	width: 133px;
	color: rgba(255,255,255,0.87);
	
	font-size: 14px;
	font-weight: bold;
	margin-left: 18px;
    line-height: 16px;

}

.Contenedor_Menu{
	position:absolute;
	top:0;
	margin-top:60px;
	width:172px;
	height:536px;
	}

.rectangle-2-40R {
	position: relative;
	top:0;
	height: 40px;
	width: 172px;
	background-color: #555C78;
}

.recomendar {
	height: 40px;
	width: 68px;
	color: #A8B7C5;
	
	font-size: 12px;
	line-height: 40px;
}


.ItemMenu {
	margin-left: 10px;
	color: #A8B7C5;
	
	font-size: 12px;
	line-height: 40px;
}

.rectangle-2-40R img {
	margin-left: 18px;
	margin-top: 15px;
}

.rectangle-2-40A {
	height: 40px;
	width: 168px;
	background-color: #555C78;
	border-left: 4px solid #00CA9D;
}


.rectangle-2-60 {
	position:absolute;
	top:0;
	height: 60px;
	width: 168px;
	margin-top: 595px;
	background-color: #555C78;
	border-left: 4px solid #00CA9D;
}

.estado-del-cbox {
	color: #FFFFFF;
	
	font-size: 12px;
	line-height: 14px;
	margin-left: 17px;
}
.conectado-ok {
	color: #2DD1AC;
	
	font-size: 12px;
	font-weight: bold;
	line-height: 14px;
	margin-left: 35px;
}
.oval-3 {
	box-sizing: border-box;
	height: 7.3px;
	width: 7.3px;
	border: 0.3px solid rgba(255,255,255,0.57);
	background-color: #00CA9D;
	box-shadow: 0 0 6px 0 #00CA9D;
	margin-left: 20px;	
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
}
.al-lado{
	margin-top: -22px;
}
