@charset "utf-8";
/* CSS Document */


body{
margin:0;
padding:0;
}
img{
	border:none;
}
	


#marcos{
	position:absolute;
	top:0;
	left:190px;
	background-color: #FFFFFF;
	width: 100%;
	height: 656px;
	min-width: 420px;
	width: calc(100% - 190px);
	box-shadow: -2px 2px 2px 0 rgba(119,151,178,0.16);
}
	
	
#contenedor{
position: absolute;
top: 50%;
left: 50%;
margin: -230px 0 0 -208px;
height: 460px;
width: 416px;
}

.bienvenid-a-cbox-sm {
	height: 30px;
	color: #3A3F51;
	
	font-size: 24px;
	font-weight: bold;
	line-height: 30px;
}
.para-ingresar-al-sis {
	height: 40px;
	color: #697B8C;
	
	font-size: 14px;
	line-height: 20px;
}
.usuario {
	height: 20px;
	color: #697B8C;
	
	font-size: 14px;
	font-weight: bold;
	line-height: 20px;
}

.input_U {
	height: 40px;
	width: 415px;
	border: 1px solid #A8B7C5;
	border-radius: 2px;
	background-color: #FFFFFF;
	background-image:url(Img/user-icon.png);
	background-repeat: no-repeat;
	background-position: right 10px bottom 10px;  
	background-size: 14px 14px;
}
.input_C {
	height: 40px;
	width: 415px;
	border: 1px solid #A8B7C5;
	border-radius: 2px;
	background-color: #FFFFFF;
	background-image:url(Img/password-icon.png);
	background-repeat: no-repeat;
	background-position: right 10px bottom 10px;
	background-size: 10px 16px;
}

.btn {
	height: 40px;
	width: 415px;
	border-radius: 2px;
	background-color: #6980E4;
	border:none;
	
}
.ingresar {
	color: #FFFFFF;
	
	font-size: 14px;
	font-weight: bold;
	line-height: 20px;
	text-align: center;
}
.Izq{
	float:left;
	width: 170px;
	height: 20px;
	margin-top:20px;
	text-align:left;
}
.Der{
	float:right;
	width: 180px;
	height: 20px;
	margin-top:20px;
	text-align:right;
}
.Der_Mrg{
	float:right;
	width: 20px;
	height: 20px;
	margin-top:-2px;
	margin-right:115px;
}
.background {
	height: 15px;
	width: 15px;
	background-color: #00CA9D;
}
.recordar-usuario {
	color: #697B8C;
	
	font-size: 14px;
	line-height: 20px;
	text-align:right;
	text-decoration:none;
	padding-right:5px;
	
}
.olvidaste-tu-contra {
	color: #6980E4;
	
	font-size: 14px;
	line-height: 20px;
}

#Mensaje1 {
	width:415px;
	height:50px;
}
#Mensaje2 {
	position: absolute;
	top:0;
	left:0;
	height: 40px;
	width: 100%;
	border-radius: 2px;
	background-color: #00CA9D;
	display: none;   /* ------------------------ DISPLAY NONE DE MENSAJE VERDE EN CABECERA  ----------------------- */
}
.su-nueva-contrasena {
	color: #FFFFFF;
	
	font-size: 14px;
	line-height: 16px;
	margin: 15px 0 10px 15px;
	border-radius: 2px;
}
.btn_x{
	float:right;
	color: #FFFFFF;
	
	font-size: 16px;
	font-weight: bold;
	line-height: 16px;
	margin-right: 15px;
	text-decoration: none;
}

/* -------------------------------------------- MENU LATERA ----------------------------------- */

#Menu_Lateral {
	position:absolute;
	top:0;
	left:0;
	height: 656px;
	width: 172px;
	background-color: #4E546C;
	box-shadow: 0 0 9px 0 rgba(113,113,113,0.5), 1px -19px 8px 0 #D9E4EC;
}

.rectangle-2 {
	position: absolute;
	top:0;
	left:0;
	height: 60px;
	width: 172px;
	background-color: #3A3F51;
	box-shadow: 0 0 9px 0 rgba(113,113,113,0.5), 1px -19px 8px 0 #D9E4EC;
}

.cbox-smart-monitorin {
	height: 32px;
	width: 133px;
	color: rgba(255,255,255,0.87);
	
	font-size: 14px;
	font-weight: bold;
	margin-left: 18px;
    line-height: 16px;

}

.Contenedor_Menu{
	position:absolute;
	top:0;
	margin-top:60px;
	width:172px;
	height:536px;
	background-color: red;
	}

.rectangle-2-40R {
	position: relative;
	top:0;
	height: 40px;
	width: 172px;
	background-color: #555C78;
}
.ItemMenu {
	margin-left: 10px;
	color: #A8B7C5;
	
	font-size: 12px;
	line-height: 40px;
}

.rectangle-2-40R img {
	margin-left: 18px;
	margin-top: 15px;
}

.rectangle-2-40A {
	height: 40px;
	width: 168px;
	background-color: #555C78;
	border-left: 4px solid #00CA9D;
}


.rectangle-2-60 {
	position:absolute;
	top:0;
	height: 60px;
	width: 168px;
	margin-top: 596px;
	background-color: #555C78;
	border-left: 4px solid #00CA9D;
}

.estado-del-cbox {
	color: #FFFFFF;
	
	font-size: 12px;
	line-height: 14px;
	margin-left: 17px;
}
.conectado-ok {
	color: #2DD1AC;
	
	font-size: 12px;
	font-weight: bold;
	line-height: 14px;
	margin-left: 35px;
}
.oval-3 {
	box-sizing: border-box;
	height: 7.3px;
	width: 7.3px;
	border: 0.3px solid rgba(255,255,255,0.57);
	background-color: #00CA9D;
	box-shadow: 0 0 6px 0 #00CA9D;
	margin-left: 20px;	
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
}
.al-lado{
	margin-top: -22px;
}
