@charset "utf-8";

/* CSS Document */
.sistema-mex-006-3_MAS {
	float: left;
	height: 60px;
	width: 30px;
	/*	vertical-align:middle;*/
	line-height: 60px;
}

.sistema-mex-006-3 {
	float: left;
	height: 60px;
	/*width: 140px;*/
	font-size: 12px;
	font-weight: 300;
	line-height: 60px;
}

.sistema-mex-006-3_flecha {
	float: left;
	height: 60px;
	width: 10px;
	margin-left: 10px;
	font-size: 12px;
	font-weight: 300;
	line-height: 60px;
	-webkit-transform: rotate(-90deg);
	transform: rotate(-90deg);
	margin-right: 25px;

}

/*  ****************************  */

.sistema-mex-006-3_flecha_izq {
	float: right;
	height: 60px;
	width: 10px;
	font-size: 12px;
	font-weight: 300;
	line-height: 60px;
	-webkit-transform: rotate(-90deg);
	transform: rotate(-90deg);
	margin-right: 25px;
}

.sistema-mex-006-3_Inicial {
	float: right;
	height: 40px;
	width: 40px;
	background-color: #F5238D;
	color: #FFFFFF;
	font-size: 20px;
	line-height: 42.5px;
	text-align: center;
	margin: auto 0;
	border-radius: calc(60px / 2);
	margin-right: 10px;
	margin-top: 10px;

}

.sistema-mex-006-3_izq {
	float: right;
	height: 60px;
	/*width: 140px;*/
	font-size: 12px;
	font-weight: 300;
	line-height: 60px;
	margin-right: 33px;
}

.sistema-mex-006-3_32 {
	float: right;
	height: 30px;
	width: 32px;
	color: #697B8C;
	font-size: 20px;
	line-height: 60px;
	margin-right: 15px;
}

@media (max-width: 770px) {
	.sistema-mex-006-3_32{
		display: none !important;
	}
}
@media (max-width: 570px) {
	.sistema-mex-006-3_izq{
		display: none !important;
	}
}

.button_logout {
	border-radius: 100px;
	transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
	color: #fff;
	background-color: #F5238D;
	border-color: #F5238D;
	text-decoration: none;
}

.button_logout.focus,
.button_logout:focus {
	box-shadow: 0 0 0 .2rem rgba(220, 53, 69, .5);
}

.button_logout:hover {
	color: #fff;
	background-color: #F5238D;
	border-color: #F5238D;

}

.button_logout:focus,
.button_logout:hover {
	text-decoration: none;
}

.popover-header {
	padding: .5rem .75rem;
	margin-bottom: 0;
	margin-top: 0px;
	font-size: 1rem;
	color: inherit;
	background-color: #f7f7f7;
	border-bottom: 1px solid #ebebeb;
	border-top-left-radius: calc(.3rem - 1px);
	border-top-right-radius: calc(.3rem - 1px);
}

.popover {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1060;
	display: block;
	max-width: 276px;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
	font-style: normal;
	font-weight: 400;
	line-height: 1.5;
	text-align: left;
	text-align: start;
	text-decoration: none;
	text-shadow: none;
	text-transform: none;
	letter-spacing: normal;
	word-break: normal;
	word-spacing: normal;
	white-space: normal;
	line-break: auto;
	font-size: .875rem;
	word-wrap: break-word;
	background-color: #fff;
	background-clip: padding-box;
	border: 1px solid rgba(0,0,0,.2);
	border-radius: .3rem;
}

.popover-body {
	padding: .5rem .75rem;
	color: #212529;
}

.popover .arrow {
	position: absolute;
	display: block;
	width: 1rem;
	height: .5rem;
	margin: 0 .3rem;

}
.popover-body a, .popover-body a:hover,.popover-body a:active,.popover-body a:focus,.popover-body a:visited,.popover-body a:link{
	text-decoration: none;
	color: black;
}

.bs-popover-auto[x-placement^="bottom"] .arrow,
.bs-popover-bottom .arrow {
	top: calc((.5rem + 1px) * -1);

}
.bs-popover-auto[x-placement^="bottom"], .bs-popover-bottom {
    margin-top: .5rem;
	left: -10px !important;
}

.bs-popover-auto[x-placement^="bottom"] .arrow::before,
.bs-popover-bottom .arrow::before {
	top: 0;
	border-bottom-color: rgba(0, 0, 0, .25);

}

.bs-popover-auto[x-placement^="bottom"] .arrow::after,
.bs-popover-auto[x-placement^="bottom"] .arrow::before,
.bs-popover-bottom .arrow::after,
.bs-popover-bottom .arrow::before {
	border-width: 0 .5rem .5rem .5rem;

}

.popover .arrow::after,
.popover .arrow::before {
	position: absolute;
	display: block;
	content: "";
	border-color: transparent;
	border-bottom-color: transparent;
	border-style: solid;

}

.bs-popover-auto[x-placement^="bottom"] .arrow::after,
.bs-popover-bottom .arrow::after {
	top: 1px;
	border-bottom-color: #fff;

}

.bs-popover-auto[x-placement^="bottom"] .arrow::after,
.bs-popover-auto[x-placement^="bottom"] .arrow::before,
.bs-popover-bottom .arrow::after,
.bs-popover-bottom .arrow::before {
	border-width: 0 .5rem .5rem .5rem;

}

.popover .arrow::after,
.popover .arrow::before {
	position: absolute;
	display: block;
	content: "";
	border-color: transparent;
	border-bottom-color: transparent;
	border-style: solid;
}

.bs-popover-auto[x-placement^="bottom"] .popover-header::before,
.bs-popover-bottom .popover-header::before {
	position: absolute;
	top: 0;
	left: 50%;
	display: block;
	width: 1rem;
	margin-left: -.5rem;
	content: "";
	border-bottom: 1px solid #f7f7f7;
}

.bs-popover-auto[x-placement^="bottom"] .popover-header::before, .bs-popover-bottom .popover-header::before {
    position: absolute;
    top: 0;
    left: 50%;
    display: block;
    width: 1rem;
    margin-left: -.5rem;
    content: "";
    border-bottom: 1px solid #f7f7f7;
}

