@charset "utf-8";
/* CSS Document */

#contenedor_LOG {
    margin: 10% auto;
    height: 460px;
    width: 416px;
    border: 1px solid #00000021;
    border-radius: 5px;
    padding: 15px;
}

.bienvenid-a-cbox-sm {
	height: 30px;
	color: #3A3F51;

	font-size: 24px;
	font-weight: bold;
	line-height: 30px;
}
.para-ingresar-al-sis {
	height: 40px;
	color: #697B8C;

	font-size: 14px;
	line-height: 20px;
}
.usuario {
	height: 20px;
	color: #697B8C;

	font-size: 14px;
	font-weight: bold;
	line-height: 20px;
}

.input_U {
	/*height: 20px;
	width: 395px;
	border-radius: 2px;
	background-color: #FFFFFF;
	background-image:url(Img/user-icon.png);
	background-repeat: no-repeat;
	background-position: right 10px bottom 10px;
	width: 100%;*/
	border: 1px solid #A8B7C5;
	border-radius: 2px;
	background-color: #FFFFFF;
	background-size: 14px 14px;
	padding: 10px;
	color: #697B8C;
	font-size: 14px;
	line-height: 20px;
	width: 95%;
}

.input_icon{
	position: relative;
    top: -27px;
    left: 93%;
    color: grey;
	font-family: "Font Awesome 5 Free" !important;
	font-size: 16px;
}
/*
3816371329
3kg choclo
un pedazo de zapallo para humita
9:30
345
*/
.input_C {
	/*height: 20px;
	width: 395px;
	border-radius: 2px;
	background-color: #FFFFFF;
	background-image:url(Img/password-icon.png);
	background-repeat: no-repeat;
	background-position: right 10px bottom 10px;
	width: 100%;*/
	border: 1px solid #A8B7C5;
	border-radius: 2px;
	background-color: #FFFFFF;
	background-size: 10px 16px;
	padding: 10px;
	color: #697B8C;

	font-size: 14px;
	line-height: 20px;
	width: 95%;
}
.wrap_btn{
	margin: 30px 0px;
}

.btn {
	cursor: pointer;
	height: 40px;
	width: 415px;
	border-radius: 2px;
	background-color: #6980E4;
	border:none;

}
.ingresar {
	color: #FFFFFF;

	font-size: 14px;
	font-weight: bold;
	/*line-height: 20px;*/
	text-align: center;
}
.Izq{
	float:left;
	width: 170px;
	height: 20px;
	margin-top:20px;
	text-align:left;
}
.Der{
	float:right;
	width: 180px;
	height: 20px;
	margin-top:20px;
	text-align:right;
}
.Der_Mrg{
	float:right;
	width: 20px;
	height: 20px;
	margin-top:-2px;
	margin-right:115px;
}
.background {
	height: 15px;
	width: 15px;
	background-color: #00CA9D;
}
.recordar-usuario {
	color: #697B8C;

	font-size: 14px;
	line-height: 20px;
	text-align:right;
	text-decoration:none;
	padding-right:5px;

}
.olvidaste-tu-contra {
	color: #6980E4;

	font-size: 14px;
	line-height: 20px;
}

#Mensaje1 {
	width:415px;
	height:50px;
}
#Mensaje2 {
	position: absolute;
	top:0;
	left:0;
	height: 40px;
	width: 100%;
	border-radius: 2px;
	background-color: #00CA9D;
	display: none;   /* ------------------------ DISPLAY NONE DE MENSAJE VERDE EN CABECERA  ----------------------- */
}
.su-nueva-contrasena {
	color: #FFFFFF;

	font-size: 14px;
	line-height: 16px;
	margin: 15px 0 10px 15px;
	border-radius: 2px;
}
.btn_x{
	float:right;
	color: #FFFFFF;

	font-size: 16px;
	font-weight: bold;
	line-height: 16px;
	margin-right: 15px;
	text-decoration: none;
}