@charset "utf-8";
/* CSS Document */


body{
	margin:0;
	padding:0;
	overflow: hidden;
}
img{
	border:none;
}



#marcos{
	position:absolute;
	top:0;
	left:190px;
	background-color: #FFFFFF;
	width: 100%;
	min-height: 656px;
	min-width: 420px;
	width: calc(100% - 190px);
	box-shadow: -2px 2px 2px 0 rgba(119,151,178,0.16);
	/*	padding-bottom:150px;			/*  -------------- margen inferior para botones ----- */
	margin-bottom: 10px;
}


#contenedor{
	padding:18px;
}

