@charset "utf-8";
/* CSS Document */


body{
	margin:0;
	padding:0;
	background-color:#EEF4F9;
	font-family: roboto;
	overflow-x: hidden;

}
/* NO SE XQ EL NAVEGADOR CAMBIABA AUTOMATICAMENTE LA FUENTE A ARIAL...  */
input, textarea, select, button {
	font-family: roboto !important;
}
img{
	border:none;
}


#Header-User {
	/*position: absolute;
	top:0;
	left:172px;*/
	float: right;
	height: 60px;
	width: calc( 100% - 210px);
	border-radius: 2px;
	background-color:#FFFFFF;
	padding-left: 18px;
	z-index:50;
}

#Menu_Lateral {
	align-content: space-between;
	position: fixed;
	display: flex;
	flex-wrap: wrap;
	height: 100vh;
	width: 172px;
	background-color: #4E546C;
	box-shadow: 0 0 9px 0 rgba(113,113,113,0.5), 1px -19px 8px 0 #D9E4EC;
	z-index:2;
}

#marcos{
	/*position:absolute;
	top:0;
	left:190px;
	width: 100%;
	min-height: 578px;
	min-width: 420px;*/
	margin-bottom: 20px;
	width: calc(100% - 190px);
	box-shadow: -2px 2px 2px 0 rgba(119,151,178,0.16);
	background-color:#FFFFFF;
	margin-top: 20px;
	float: right;
}

#contenedor{
	padding: 35px;
	margin-top:0;
}

