@charset "utf-8";
/* CSS Document */

/* -------------------------------------------- MENU LATERA ----------------------------------- */
#Menu_Lateral_black {
	position: absolute;
	top: 0;
	left: 0;
	height: 656px;
	width: 172px;
	background-color: #4E546C;
	opacity: 0.2;
	/* --- transparencia tapa menu out log ----- */
	z-index: 10;
}

.rectangle-2 {
	/*position: absolute;
	top: 0;
	left: 0;*/
	height: 70px;
	width: 172px;
	background-color: #3A3F51;
	box-shadow: 0 0 9px 0 rgba(113, 113, 113, 0.5), 1px -19px 8px 0 #D9E4EC;
}

.cbox-smart-monitorin {
	height: 100%;
	width: 133px;
	color: rgba(255, 255, 255, 0.87);
	
	font-size: 14px;
	font-weight: bold;
	margin-left: 18px;
	line-height: 16px;
    margin: auto;
    padding: 10px 0px;
}

.Contenedor_Menu {
	/*position: absolute;
	top: 0;
	margin-top: 70px;
	width: 172px;
	height: 536px;*/
}

.rectangle-2-40R {
	/*position: relative;
	top: 0;
	height: 40px;
	width: 168px;*/
	background-color: #4E546C;
	border-left: 4px solid #4E546C;
	display: flex;
	align-items: baseline;
}

.rectangle-2-40R a {
	text-decoration: none;
}

.rectangle-2-40R img {
	margin-left: 18px;
	margin-top: 15px;
}

.ItemMenu {
	margin-left: 10px;
	color: #A8B7C5;
	
	font-size: 12px;
	line-height: 40px;
}

.rectangle-2-60 {
	/*position: absolute;
	bottom: 0;
	margin-top: 595px;	*/
	height: 60px;
	width: 168px;
	background-color: #555C78;
	display: flex;
	flex-direction: column;	
	border-left: 4px solid #697B8C;
	margin-top: 20px; 
}

.estado-del-cbox {
	color: #FFFFFF;
	
	font-size: 12px;
	line-height: 14px;
	margin-left: 17px;
}

#CONEXION {
	
	font-size: 12px;
	font-weight: bold;
	line-height: 14px;
	margin-left: 35px;
}

.conectado-ok {
	color: #2DD1AC;
}

#OVAL {
	box-sizing: border-box;
	height: 7.3px;
	width: 7.3px;
	border: 0.3px solid rgba(255, 255, 255, 0.57);
	margin-left: 20px;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}

/* ------------ circulo estado de la conexion y texto  -------------- */
.oval-0 {
	background-color: #697B8C;
	box-shadow: 0 0 6px 0 #697B8C;
}

.Verif {
	color: #697B8C;
}

.oval-1 {
	background-color: #00CA9D;
	box-shadow: 0 0 6px 0 #00CA9D;
}

.conectado-ok {
	color: #2DD1AC;
}

.oval-2 {
	background-color: #FF435A;
	box-shadow: 0 0 6px 0 #FF435A;
}

.noconect {
	color: #FF435A;
}

.oval-3 {
	background-color: #F8E71C;
	box-shadow: 0 0 6px 0 #F8E71C;
}

.configestado {
	color: #F8E71C;
}

.al-lado {
	margin-top: -22px;
}

/* ---------------------------------------   ICONOS ------------------------------ */
.monitoreo-icon {
	height: 11px;
	width: 14px;
}

.configuracion-icon {
	height: 14px;
	width: 14px;
}

.micuenta-icon {
	height: 14px;
	width: 14px;
}

.compartir-icon {
	height: 18px;
	width: 18px;
}

.ayuda-icon {
	height: 18px;
	width: 18px;
}

.fill-8 {
	height: 16px;
	width: 16px;
}

/* agregado por AppE no se usa es muy complejo el cambio queda para la prox version*/
/* agregado por AppE*/
.Style_ML {
	background-color: #3A3F51;
	border-left: 4px solid #00CA9D;
}

.Style_MC {
	border-bottom: 3px solid #6980E4;
	color: #3A3F51;
	font-weight: bold;
}

.Style_MM {
	border-radius: 24px;
	background-color: #FFFFFF;
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 6px 0 rgba(0, 0, 0, 0.03);
}

.Style_MMA {
	color: #697B8C;
}