.wrap_datos_usuario{
    display: flex;
    /*flex-direction: column;*/
    flex-wrap: wrap;
    height: 100%;
    justify-content: space-between;
}
.usuario_item{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 45%;
    height: 100%;
    margin: 10px 20px;
}
.usuario_item label{
    margin-bottom: 10px;
}
/* sirve para el mensaje de retorno */
.wrap_cbox_by_pixsun{
    color: #3A3F51;
	
}
.cuerpo_cbox_by_pixsun{
    color: #697B8C;
    display: flex; 
    flex-direction: column; 
}
.cbox_titulos{
    font-size: 26px;
    margin: 20px 0px;
}
