@charset "utf-8";
/* CSS Document */

.ContenidoOpcion_M{
    margin-left: 0px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}
#esconder_graficos{
    width: 100%;
    height: 100%;
}
#wrap_datos_debajo_grafico{
    margin-left: 0px;
    /*display: inline-block;
    width: 100%*/
}

.wrap_flechas_grafico{
    float: left;
    text-align: left;
    width: 100%;
    margin-left: 50px;
}
.wrap_flechas_grafico a{
    margin: 0px 5px;
    font-size: 18px;
    color: #697B8C; !important;
}
.wrap_flechas_grafico a:active, .wrap_flechas_grafico a:visited, .wrap_flechas_grafico a:focus{
    color: #697B8C; !important;
}
.wrap_flechas_grafico span{
    font-size: 14px;
    opacity: 0.7;
    /*vertical-align: super;*/
}
#chart_div {
    /*width: 100%;
    height: auto;
    background-color:#369;*/
}

.nombre_eje_x{
    float: right;
    position: relative;
    top: -40px;
    opacity: 0.4;
    font-size: 14px;
    right: 65px;
    font-weight: bold;
}

.ContOpc100 {
    width: 100%;
    /*margin-top: 30px;
    float: left;
    height:80px;*/
    height:auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    /*border-bottom: 1px solid #A8B7C5;*/
}
.ConteResumen_I_M {
    float: left;
    height: 60px;
    width: 100%;
    color: #697B8C;
    font-size: 20px;
    /*line-height: 60px;*/
}
.ConteResumen_D_M {
    float: right;
    height: 60px;
    width: calc(50% - 10px);
}
.rectangle-MENU {
    height: 27px;
    width: 231px;
    margin-top:10px;
    float: left;
    border: 0.6px solid #A8B7C5;
    border-radius: 24px;
    background-color: #EEF4F9;
    font-size: 10px;
}
.rectangle-MENU-LINK {
    height: 25px;
    width: calc(230px / 4);
    margin: 0px;
    float:left;
    text-align:center;
    margin-top: 1px;
}
.IconoMas-MENU {
    height: 25px;
    width:60px;
    margin-top:12px;
    float: left;
    text-align:center;
    cursor: pointer;
}
.rectangle-MENU-LINK a {
    color: #A8B7C5;

    font-size: 10px;
    text-decoration:none;
    height: 25px;
    line-height:25px;
}
.ContOpc3M {
    /*width: 30%;*/
    margin-right: 3%;
    height:330px;
    margin-bottom: 30px;
}
#IconMas{
    float: right;
    margin-top:20px;
}

#IconMenos{
    float: right;
    margin-top:20px;
}

.Contedesde {
    height: 35px;
    width: 100%;
    color: #697B8C;

    font-size: 12px;
    line-height: 14px;
}
.ahorros-y-equivalencM {
    height: 20px;
    width:100%;
    color: #697B8C;

    font-size: 18px;
    line-height: 20px;
}
.historicoM {
    height: 14px;
    width:100%;
    color: #697B8C;

    font-size: 12px;
    font-weight: 300;
    line-height: 14px;
}
.ContOpc2_D{
    width: 285px;
    float: left;
    /*height:220px;*/
    height:auto;
    margin-top: 30px;
    border-right: 1px solid #A8B7C5;
    text-align: center;
}
.ContOpc2_I{
    width: calc(100% - 290px);
    min-width: 295px;
    /*float: right;*/
    /*	height:220px;*/
    margin-top: 30px;
    height:auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.Cont_D{
    width: 40px;
    float: left;
    height:auto;
}
.Cont_I{
    width: calc(100% - 40px);
    float: right;
    height:auto;
}
#Cont_I_T{
    color: #697B8C;

    font-size: 14px;
    font-weight: bold;
    line-height: 0px;
    text-align: left;
}
#Cont_I_Te{
    color: #A8B7C5;

    font-size: 12px;
    line-height: 14px;
    text-align: left;
}
#ahorro-de-emisiones {
    height: auto;
    width: 100%;
    color: #697B8C;
    margin-left: 15px;
    font-size: 16px;
    font-weight: bold;
    line-height: 20px;
    text-align:left;
    margin-bottom: 30px;
}
.ContOpcMuchas_M {
    /*width: calc(100% / 5);
    float: left;*/
    height:200px;
    text-align: center;
    width: 150px;
}
.ContOpcMuchas_MD {
    width: 160px;
    /*float: left;*/
    height: 100px;
    text-align: center;
}
.ContOpcMuchas_MD:last-child {
    width: 170px;
}

.ContOpcMuchas_AH {
    width: calc(100% / 2);
    float: left;
    height:200px;
    text-align: center;
}
#F48hsV {
    color: #00CA9D;

    font-size: 28px;
    font-weight: 100;
}
#F48hsTex {
    color: #697B8C;

    font-size: 14px;
    /*	font-weight: bold;*/
    line-height: 0px;
}
#F2984 {
    color: #00CA9D;

    font-size: 64px;
    font-weight: 300;
    letter-spacing: -2px;
    line-height: 28px;
}

.ConteOpText_M1 {
    color: #697B8C;

    font-size: 14px;
    line-height: 20px;
}
#ConteOpText_RH {
    height: 323px;
    width: 100%;
    color: #00CA9D;

    font-size: 64px;
    font-weight: 100;
    line-height: 75px;
    text-align: center;
}
#ConteOpText_RH p {
    height: 14px;
    width: 100%;
    color: #697B8C;

    font-size: 12px;
    font-weight: 300;
    line-height: 14px;
    text-align: center;
}

#Barra_RH{
    height: 30px;
    width: 100%;
    position: relative;
    margin-top: 20px;
    /*border: 0px solid #000000;*/
}
#line-2 {
    position:absolute;
    box-sizing: border-box;
    height: 3px;
    width: 100%;
    border: 3px solid #F3F3F3;
    box-shadow: 0 0 8px 0 rgba(0,202,157,0.68);

    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;

}
#line-2X {
    position:absolute;

    box-sizing: border-box;
    height: 3.2px;
    /*width: 132px;*/
    border: 3.2px solid #00CA9D;
    box-shadow: 0 0 8px 0 rgba(0,202,157,0.68);

    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;

}
.rectangle-V {
    height: calc(323px - 53px);
    padding-top:53px;
    width: 250px;
    max-width: 250px;
    border: 2px solid #00CA9D;
    border-radius: 8px;
    text-align:center;
}
.rectangle-R {
    height: calc(323px - 53px);
    padding-top: 53px;
    width: 250px;
    border: 2px solid #F5238D;
    border-radius: 8px;
    text-align:center;
    overflow: hidden;
}
.FondoGradiente{

    height: 14px;
    width: 100%;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    margin-top: 224px;
    background-color: #F5238D;
    box-shadow: 0 0 8px 0 rgba(245,35,141,0.68);


    /*background: rgb(0,202,157);
    background: -moz-linear-gradient(90deg, rgba(0,202,157,0.3) 0%, rgba(248,245,61,0.3) 50%, rgba(247,60,28,0.30015756302521013) 100%);
    background: -webkit-linear-gradient(90deg, rgba(0,202,157,0.3) 0%, rgba(248,245,61,0.3) 50%, rgba(247,60,28,0.30015756302521013) 100%);
    background: linear-gradient(90deg, rgba(0,202,157,0.3) 0%, rgba(248,245,61,0.3) 50%, rgba(247,60,28,0.30015756302521013) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00ca9d",endColorstr="#f73c1c",GradientType=1);*/

}
.FondoNoGradiente{
    height: 15px;
    border-radius: 10px;
    background-color: #00CA9D;
    box-shadow: 0 0 8px 0 rgba(0,202,157,0.68);
    position: absolute;
}

.FondoNoGradiente_background{
    border-radius: 10px;
    height: 9px;
    border: 3px solid #F3F3F3;
    box-shadow: 0 0 8px 0 rgba(0,202,157,0.68);
    width: 99%;
    position: absolute;
}
.energia-generada {
    height: 20px;
    width: 100%;
    color: #697B8C;

    font-size: 16px;
    font-weight: bold;
    line-height: 20px;
}

.kwhV {
    height: 42px;
    width: 100%;
    color: #00CA9D;
    margin-bottom: 0px;
    font-size: 20px;
    font-weight: bold;
    line-height: 24px;
}
.kwhR {
    height: 42px;
    width: 100%;
    color: #F5238D;
    margin-bottom: 0px;
    font-size: 20px;
    font-weight: bold;
    line-height: 24px;
}
.el-sistema-esta-func {
    height: 32px;
    width: 100%;
    color: #697B8C;

    font-size: 14px;
    font-weight: 300;
    line-height: 16px;
    text-align: center;
}
.gases {
    width: 100%;
    color: #697B8C;
    align-self: flex-start;
    font-size: 12px;
    font-weight: 300;
    line-height: 14px;
}
/*
.TiConfig {
	height: 30px;
	width: 250px;
	color: #3A3F51;

	font-size: 24px;
	font-weight: bold;
	line-height: 30px;
}

#MeConfig{
	width:100%;
	height:50px;
	text-align:left;
}

.ItMenuConfig{
	height: 40px;
	text-align: center;
	float: left;
	padding:5px;
	margin: 10px;
}

.ItMenuConfig a{
	color: #3A3F51;

	font-size: 18px;
	font-weight: bold;
	line-height: 21px;
	text-decoration: none;
}
.ItMenuConfig a{
	color: #697B8C;

	font-size: 18px;
	line-height: 21px;
	text-decoration: none;
	text-align: center;
}






#ContenedorOpciones{
	float:left;
	width:100%;
	text-align:left;
	margin-bottom: 50px;
}
.Tecla{
	width: 100px;
	float: left;
}
.Tecla_MiCuenta{
	width: 30px;
	float: left;
}
.ContenidoOpcion_MiCuenta{
	width: calc(100% - 40px);
	width: -moz-calc(100% - 40px);
	width: -webkit-calc(100% - 40px);
	float: left;
}
.ContenidoOpcion_Datos{
	float: left;
	width: calc(50% - 40px);
	width: -moz-calc(50% - 40px);
	width: -webkit-calc(50% - 40px);
	height: 80px;
	color: #697B8C;

	font-size: 14px;
	font-weight: bold;
	line-height: 20px;

}
.ContenidoOpcion_Datos input, select {
	height: 40px;
max-width: 100%;

	border: 1px solid #A8B7C5;
	border-radius: 2px;
	background-color: #FFFFFF;
	color: #697B8C;

	font-size: 14px;
	margin-bottom:60px;
	padding:0 10px;
}
.configuracion-avanza, .configuracion-avanza a{
color: #697B8C;

font-size: 12px;
font-weight: 300;
line-height: 14px;
text-align:right;
text-decoration:none;
}
.configuracion-sfv, .configuracion-sfv a{
color: #6980E4;

font-size: 14px;
line-height: 20px;
float: right;
}

.notificaciones-y-ale {
	height: 30px;
	width: 100%;
	color: #697B8C;

	font-size: 20px;
	margin-bottom:50px;
}

.ConteOpTitulo {
	color: #697B8C;

	font-size: 16px;
	font-weight: bold;
	line-height: 20px;
}

.ConteOpText a{
	color: #6980E4;

	font-size: 14px;
	line-height: 20px;
}

#path-2-copy {
	box-sizing: border-box;
	height: 3px;
	width: 100%;
	border: 1px solid #EEF4F9;
	background-color:#EEF4F9;
	margin-top: 50px;
	margin-bottom: 20px;
}
/* ------------------------------------ columnas ------------------------- */

/*


.ContOpc4C {
	width: 25%;
	float: left;
	height:50px;

}

.ContOpc5C {
	width: 20%;
	float: left;
	height:150px;

}
/*  -----------------------------------  Input  ------------------------------- */
/*
.input_Ca {
height: 30px;
width: 65px;
border: 1px solid #697B8C;
border-radius: 2px;
background-color: #FFFFFF;
color: #697B8C;

font-size: 14px;
line-height: 20px;
padding: 0 5px;
}
.input_CN {
height: 120px;
width: 535px;
border: 1px solid #697B8C;
border-radius: 2px;
background-color: #FFFFFF;
color: #697B8C;

font-size: 14px;
line-height: 20px;
padding: 0 5px;
}

/*  ----------------------------------- desplegables  -------------------- */
/*
#SelecHoras {
	height: 30px;
	width: 76px;
	border: 1px solid #697B8C;
	border-radius: 2px;
	background-color: #FFFFFF;

		color: #697B8C;

		font-size: 14px;
		line-height: 20px;

	margin: 0 10px 0 10px;
	padding: 2px 15px;
}
#SelecMensual{
 	height: 30px;
	width: 200px;
	border: 1px solid #697B8C;
	border-radius: 2px;
	background-color: #FFFFFF;

		color: #697B8C;

		font-size: 14px;
		line-height: 20px;

	margin: 30px 0;
	padding: 2px 15px;
}


.RangoDesplegable {
	height: 14px;
	width: 132px;
	color: #697B8C;

	font-size: 12px;
	font-weight: 300;
	line-height: 14px;
}
#SelecRango {
	height: 30px;
	width: 105px;
	border: 1px solid #697B8C;
	border-radius: 2px;
	background-color: #FFFFFF;

	color: #697B8C;

	font-size: 14px;
	line-height: 20px;
		padding: 2px 15px;
		margin-right: 10px;

}
/*  ----------------------------------- botones cancelar guardar  ----------------------- */
/*
#BotonGuardar{
	width:100%;
	height:60px;
	text-align: right;
	line-height: 20px;
}

.BotConfCancelar a{
	float:right;
	margin-right: 100px;
	height: 60px;
	width: 55px;
	color: #6980E4;

	font-size: 14px;
	line-height: 40px;
	text-decoration:underline;
}

.BotConfGuardar {
	float:right;
	height: 20px;
	width: 200px;
	margin-right: 20px;
}
.BCGP {
	color: #FFFFFF;

	font-size: 14px;
	font-weight: bold;
	line-height: 10px;
	text-align: center;
}

.btn_BCG {
	height: 40px;
	width: 200px;
	border-radius: 2px;
	background-color: #6980E4;
	border:none;

}



#Mensaje1 {
	width:415px;
	height:50px;
}
#Mensaje2 {
	position: absolute;
	top:0;
	left:0;
	height: 40px;
	width: 100%;
	border-radius: 2px;
	background-color: #00CA9D;
	display: none;
}
*/
